// fonts
$mulish: 'Mulish', sans-serif;
$playfair: 'Playfair Display', serif;

// palette
$light: #FAF3F0;
$cream: #F9F1F1;
$orange: #D5590B;
$maroon: #A51C30;
$brown: #621708;
$choco: #220901;
$dark: #130303;