@use 'base';

@mixin flex {
  display: flex;
  justify-content: space-between;
}

@mixin body-text {
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: base.$orange;

  .bold {
    font-weight: 700;
    color: base.$brown;
  }
}

%title-shared {
  font-family: base.$playfair;
  font-weight: 900;
  font-size: 7rem;
  line-height: 7rem;
}

%input-shared {
  width: 70%;
  outline: none;
  border: none;
  background-color: base.$orange;
  color: base.$light;
  font-weight: 500;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  padding: 0.8rem;
}

.container {
  background-color: base.$light;
  border-radius: 4px;
  width: 70%;
  height: 90%;
  float: right;
  margin: 2rem;
  padding: 4rem;
  @include flex;

  .left {
    width: 31%;
    @include flex;
    flex-direction: column;
    .title {
      @extend %title-shared;
      color: base.$brown;

      .akan {
        @extend %title-shared;
        color: base.$orange;
      }
      .effect {
        @extend %title-shared;
        color: base.$green;
      }
    }
    .text {
      @include body-text;
    }
  }

  .right {
    @include flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    .content {
      width: 100%;
      .text {
        @include body-text;
      }
    }

    .message {
      width: 100%;
      background-color: base.$pale;
      padding: 1rem 2rem;
      border-radius: 4px;
      @include body-text;
    }

    .form {
      height: 200px;
      width: 100%;

      .group {
        @include flex;
        align-items: center;
        label {
          color: base.$brown;
          font-weight: 700;
          font-size: 1.1rem;
        }
        select {
          @extend %input-shared;
        }
        input {
          @extend %input-shared;
        }
      }

      button {
        width: 100%;
        outline: none;
        border: none;
        background-color: base.$green;
        color: base.$light;
        font-weight: 500;
        font-size: 1.1rem;
        cursor: pointer;
        border-radius: 4px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
      }
    }
  }
}
